<head>
    <meta charset="utf-8" />
    <title>Matchs</title>

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.0/build/pure-min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.0/build/grids-responsive-min.css" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .game {
            border: 3px solid;
            border-radius: 5px;
            margin-top: 10px;
            padding: 5px;
        }

        .has_bet {
            border-color: rgb(28, 184, 65)
        }

        .no_bet {
            border-color: rgb(223, 117, 20)
        }

        .started {
            border-color: grey
        }

        .button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65);
            /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60);
            /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20);
            /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221);
            /* this is a light blue */
        }

        .flag {
            {{!-- border: 1px solid #a5a5a5; --}}
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
            width: 45px;
            height: 33px;
        }
    </style>
</head>
