<!DOCTYPE html>
<html>

{{> header}}


<body style="text-align:center;">
    <h1>Login</h1>
    <form class="pure-form" style="max-width:768px;margin:auto" action="/login" method="POST">
        <fieldset>
            <legend>{{flash}}</legend>

            <input style="margin: auto;" type="text" name="name" placeholder="Username" autofocus>
            <input type="hidden" name="password" placeholder="Password">
            <br>
            <br>
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </fieldset>
    </form>
</body>

</html>
